nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    background-color: black;
    color: antiquewhite;
    padding: 2px;
}

h1{
    padding: 3px;
}

nav ul{
    display: flex;
    align-items:center;
    justify-content:space-around;
}

nav ul li{
    padding: 3px;
    list-style: none;
}
